@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject Database.Data DataService


@if (Listings is null || !Listings.Any())
{
    <p>No listings found.</p>
}
else
{
    <div class="listings">
        @foreach (var listing in Listings)
        {
            <article class="listing-card">
                <div class="title">@listing.ItemName</div>
                <div class="category">@GetCategoryText(listing.Category)</div>

                <img class="thumb" src="@listing.Image" alt="@listing.ItemName" />

                <div class="details">
                    <div class="price">Price: $@((listing.Price / 100m).ToString("0.00"))</div>
                    <div class="description">@listing.ItemDescription</div>
                    <div class="quantity">Amount Available: @listing.Quantity</div>

                    
                    <button class="btn btn-primary add-to-cart" @onclick="() => EditListing(listing.ID)">
                        Edit
                    </button>
                    
                </div>
            </article>
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<Database.Data.Listing> Listings { get; set; } = Array.Empty<Database.Data.Listing>();
    private UInt64? currentUserId;

    //moved to ListingDashboard
    //protected override async Task OnInitializedAsync()
    //{
    //    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //    var user = authState.User;
    //    if (user.Identity?.IsAuthenticated != true || !user.IsInRole("Admin"))
    //    {
    //        Navigation.NavigateTo("/", forceLoad: true);
    //        return;
    //    }
    //    var userIdClaim = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    //    if (UInt64.TryParse(userIdClaim, out var userId))
    //    {
    //        currentUserId = userId;
    //    }
    //}

    //get all the category's a post has
    private static string GetCategoryText(Database.Data.ListingCategory category)
    {
        IEnumerable<string>? categories = Enum.GetValues<Database.Data.ListingCategory>()
            .Where(c => Convert.ToInt32(c) != 0 && category.HasFlag(c))
            .Select(c => c.ToString());

        return categories.Any() ? string.Join(", ", categories) : "Uncategorized";
    }

    private void EditListing(UInt64 listingId)
    {
        Navigation.NavigateTo($"/admin/edit/{listingId}");
    }
    
}